<div class="card-category" style="background-image: url('../../assets/images/cinema_background.jpg');">
  Breakfast
</div>

<h1>Your list</h1>
<ul>
<%@lists.each do |list| %>
<li><%= list.name %></li>
<% end %>
</ul>
